.FilterResults {
  padding: 120px;
  /* padding-bottom: 0;
  background-repeat: no-repeat;
  width: 100vw;
  overflow: hidden;
  height: 360px;
  background-size: 100%;
  background-position: center; */

  display: flex;
  justify-content: center;
}