@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500&display=swap');
.Generator {
    font-family: 'Josefin Sans', sans-serif;
}
.Wheel {
    padding: 0 150px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }

.WheelMessage {
    max-height: 100px;
    margin: 0 80px;
    padding-top: 100px;
}
.Generator {
    max-height: 100px;
    margin: 0 80px;
    padding-top: 100px;
}

.heade {
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 25px 0px 20px 0px;
}

.subHeader {
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 25px 0px 0px 0px;
}

.fullPage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menuView {
    display:flex;
    flex-wrap: wrap;
    flex-direction:column;
    width: 380px;
}
.wheelView {
    max-height: 100vh;
    z-index: 1;
}

.box, .fake-input {
    background-color: #FFF;
    display:flex;
    align-items: center;
    font-size: 26px;
    min-height: 70px;
    border-radius: 20px;
    border: 2px solid black;
    overflow: hidden;
}

.fake-input {
    max-height: 70px;
}
  
.penIc, .fake-input img {
    margin: 0px 10px 0px 0px;
}

.add {
    background-color: #FFF;
    border-radius: 50px;
}

.fake-input input { 
    outline: none; 
    background-color:#FFF; 
    display:block; width: 100%; 
    box-sizing: border-box; 
    border-style: none; 
    margin-left:20px;
}

.menuParent {
    width: 676px;
    border: 2px solid black;
    border-radius: 20px;
}
.menuHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #65AA91;
    font-size: 40px;
    padding:20px;
    border-radius: 20px 20px 0px 0px;
    align-items: baseline;
}

.close {
    display: flex;
    margin-left: auto;
}

.leftMenuArea {
    display: flex;
    flex-direction: column;
}

.mealPlan {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mealPlanHead {
    background-color: #BDB2AE;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: 'BALOO 2';
    margin: 0px;
    padding: 15px 10px 10px 10px;
}

.mod-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lato';
    font-weight: bold;
    font-size: 20px;
}

#meal-name {
    font-size:20px;
}

.spinBut {
    background-color: #C7CCFF;
    width: 80px;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    align-items: baseline;
    border: 2px solid;
}

.saveMealPlan {
    background-color: #C7CCFF;
    width: 180px;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 10px;
    border-radius: 10px;
    align-items: baseline;
    border: 2px solid;
}