.Click.\30, .Click.\31, .Click.\32, .Click.\33 {
    background-color: #FCEAE0;
    padding: 20px;
    width: 380px;
    border-radius: 20px;
}


.boxHolder {
    margin: 15px 0px;
    display:flex;
    justify-content: center;
}

.just {
    display:flex;
    flex-direction:column;
    align-items: center;
}