.Click.\30 {
    background-color: red;
}
.Click.\31 {
    background-color: orange;
}
.Click.\32 {
    background-color: yellow;
}
.Click.\33 {
    background-color: green;
}

.boxHolder {
    margin: 15px 0px;
}