.comment_div {
    border: 1px solid #d8e1f3;
    box-sizing: border-box;
    border-radius: 10px;
}

.comment_div_div {
    margin-top: 20px;
    margin-bottom: 20px;
}

.comment_headers {
    display: flex;
    justify-content: space-between;
}

.comment_headers,
.comment_desc {
    margin: 10px 20px;
}

.comment_flex {
    display: flex;
    align-items: center;
}

.comment_flex_menu {
    /*flex: 2;*/
    flex: 0.7;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 60px;
}

.comment_flex img {
    max-height: 30px;
    border-radius: 20px;
    margin-right: 20px;
}

.comment_flex_h3 {
    margin-right: 20px;
}

.comment_desc {
    word-wrap: break-word;
    margin-left: 70px;
    margin-right: 70px;
}

.comment_footer {
    display: flex;
    justify-content: flex-end;
}

.time_under_comment {
    display: flex;
    justify-content: flex-end;
    border: 1px solid black;
}

.btnStyle {
    margin-left: 6px;
    font-size: 14px;
    padding: 12px;
    border: none;
    line-height: 1;
    border-radius: 5px;
}

#deleteBtn {
    background: #b32929;
    color: white;
}

#editBtn {
    background: #00a9da;
    color: white;
}

.comment_flex_wrapper {
    display: flex;
    justify-content: space-between;
}
