@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500&display=swap');

.menu {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #FFF;
    border-radius: 0px 0px 20px 20px;
}

.menuLine {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
    font-size: 30px;
    padding: 10px 0px
}

.userInput {
    width: 280px;
    justify-content: center;
}

#time {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

.menu-input {
    display:flex;
    align-items: center;
    max-width:280px;
}

.text {
    font-size: 26px;
}

.Multiselect {
    display: flex;
    flex-wrap: wrap;
    height: 60px;
    font-size: 23px;
    z-index: 40;
}

.optionListContainer {
    width:300px;
}
.optionContainer {
    height: 200px;
}

.setWidth {
    font-size: 26px;
    height: 70px;
    border-radius: 20px;
    border: 2px solid black;
    width: 280px;
}

.submit-but {
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

.searchWrapper {
    border: 2px solid black;
    width: 280px;
    min-height:70px;
    border-radius: 20px;
}

#category_input {
    margin: 0px;
}

.chip {
    background-color: #6F9CEB
}