.About {
  padding: 120px 0;
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
  background-repeat: no-repeat;
  background-position-x: 40%;
}
.mission p, .aboutus a {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: 300;
}
.mission {
  padding: 30px 100px;
  min-height: 300px;
  background-color: #D7E1EA;
}

.aboutus {
  padding: 10px 100px;
  margin: 10px 0;
}
.people {
  display: flex;
  justify-content: space-evenly;
}
.person {
  max-width: 250px;
  margin: 20px;
}
.person div { 
  font-size: 28px;
}
.person p { 
  padding: 0;
  font-size: 22px;
}

.about-img img {
  width: 100%;
}

@media only screen and (max-width: 700px) {
  .About {
    padding: 50px 0;
  }
  .people {
    flex-direction: column;
  }
}