.SavedGallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 100px;
}

.saveRow {
  display: flex;
  flex-direction: row;
}

.mealPlan {
  margin: 10px 0px;
}

.mealInfo {
  justify-content: center;
  font-family: 'Lato';
  font-size: 20px;
}