.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100vw;
  background-color: transparent;
  /*position: absolute;*/
  top: 0;
  left: 0;
  right: 0;
  margin: 0 75px;
}
.user-btn {
  position: absolute;
  top: 15px;
  right: 0;
  width: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-drop {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  width: 80px;
  border-radius: 10px;
}
.user-drop a {
  margin: 0;
  padding: 0;
}
.wheel-link.margin-right {
  margin-right: 40px;
}

.navbar-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-right a {
  text-decoration: none;
  margin: 5px;
}
.logo-link {
  width: 100px;
}
.search-btn, .user-btn {
  cursor: pointer;
}
.search-btn, .wheel-link {
  width: 30px;
}
.user-btn {
  width: 35px;
}
.logo-link img, .search-btn img, .wheel-link img, .user-btn img {
  width: 100%;
}
.login-link {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
}

.search-input {
  width: 200px;
  margin: 0 0;
  padding: 10px;
  border-radius: 10px;
  outline: none;
}

@media only screen and (max-width: 700px) {
  .Navbar {
    margin: 0 40px;
  }
  .phone-view {
    display: none;
  }
  .phone-view-search {
    width: 100%;
  }
  .navbar-right {
    height: 80px;
  }
  .user-btn {
    top: 20px;
  }
  .search-input {
    width: 150px;
  }
}