.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100vw;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 75px;
}

.navbar-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-right a {
  text-decoration: none;
  margin: 5px;
}
.logo-link {
  width: 100px;
}
.search-btn, .user-btn {
  cursor: pointer;
}
.search-btn, .wheel-link, .user-btn {
  width: 30px;
}
.logo-link img, .search-btn img, .wheel-link img, .user-btn img {
  width: 100%;
}
.login-link {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
}

.search-input {
  width: auto;
  margin: 0 0;
}
