.EditProfile {
  padding: 100px 150px;
  padding-bottom: 80px;
  width: 100vw;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: 100%;
}
.form-input {
  display: flex;
  flex-direction: column;
}
.form-input label {
  font-family: 'Lato', sans-serif;
  margin: 0;
  visibility: visible;
  height: auto;
  width: auto;
}
.form-input input {
  margin: 8px;
  width: auto;
  border: 1.5px solid #a79595;
}

.profile-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-left input {
  cursor: pointer;
  width: 100%;
  margin: 0;
}
.upload-btn {
  cursor: pointer;
}

.highlightOption, .highlight {
  background-color: transparent;
  color: #000;
}
.option:hover {
  background-color: #6F9CEB !important;
}

.chip {
  background: #98B9F2 !important;
  color: #000 !important;
}

.update-btn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  width: 80px;
  height: 30px;
  border-radius: 8px;
  background-color: #a59379;
  margin: 10px;
}

@media only screen and (max-width: 1400px) {
  .EditProfile {
    background-size: cover;
    height: 100%;
    overflow: unset;
  }

  .profile-left {
    margin: 0 40px;
  }

  .profile-right {
    min-width: 320px;
    
  }
}


@media only screen and (max-width: 2500px) {
  .EditProfile {
    background-position-y: -200px;
  }
}


@media only screen and (max-width: 1900px) {
  .EditProfile {
    background-position-y: -100px;
  }
}

@media only screen and (max-width: 1400px) {
  .EditProfile {
    background-position-y: -30px;
  }
}

@media only screen and (max-width: 1000px) {
  .EditProfile {
    background-position-y: 0;
    background-size: 120%;
  }
}

@media only screen and (max-width: 700px) {
  .EditProfile {
    padding: 80px 50px;
    background-position-x: 60%;
    background-size: auto;
    height: 100%;
    background-position-y: -50px;
    overflow: unset;
  }
  .profile-right {
    min-width: 280px;
  }
  .form-input input {
    width: 90%;
  }

  .form-input-name input {
    width: 80%;
  }
}