.Footer {
  position: absolute;
  bottom: 0;

  display: flex;
  padding: 0 75px;
  justify-content: flex-end;
  background-color: #65AA91;
  width: 100vw;
  height: 50px;
}
.Footer a {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  margin: 10px;
}