.Profile {
  padding: 0 150px;
  padding-top: 100px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-position: center;
  background-size: 100%;
}
.profile-name {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 35px;
}

.profile-display {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.profile-left {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  margin: 0 100px;
}
.profile-img {
  background-color: #fff;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border: 2px solid #cecece;
  border-radius: 40px;
  margin: 10px;
}
.profile-img img {
  width: 100%;
  min-height: 100%;
}

.profile-right {
  display: flex;
  flex-direction: column;
  min-width: 450px;
}
.profile-basic {
  display: flex;
  justify-content: space-between;
}
.profile-basic div {
  display: flex;
  align-items: center;
}
.location {
  display: flex;
  align-items: center;
  color: #6e6e6e;
  margin: 10px;
}
.location img {
  width: 30px;
}
.location span {
  min-width: 100px;
}

.edit-btn {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

.input {
  margin: 10px 0;
}
.input-type {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.input-type-res {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.input-flavors {
  display: flex;
  flex-direction: column;
}
.fav-flavors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.flavor {
  border-radius: 11px;
  padding: 4px 10px;
  margin: 5px;
  background-color: rgb(152, 185, 242, 0.8);
}

@media only screen and (max-width: 700px) {
  .Profile {
    padding: 0 50px;
    padding-top: 80px;
    background-position-x: 60%;
    background-size: cover;
    height: 100%;
    overflow: unset;
  }
  .profile-display {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .profile-left {
    margin-bottom: 20px;
  }
  .profile-right {
    min-width: auto;
  }
  .profile-basic > div {
    flex-direction: column;
  }
  .location {
    flex-direction: row;
  }
}