.Profile {
  padding: 0 150px;
  padding-top: 100px;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-position: center;
}
.profile-name {
  font-family: 'Nunito', sans-serif;
  font-size: 35px;
}

.profile-display {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.profile-left {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}
.profile-img {
  background-color: #fff;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border: 2px solid #cecece;
  border-radius: 40px;
  margin: 10px;
}
.profile-img img {
  width: 100%;
  min-height: 100%;
}

.profile-right {
  display: flex;
  flex-direction: column;
  min-width: 450px;
}
.profile-basic {
  display: flex;
  justify-content: space-between;
}
.profile-basic div {
  display: flex;
  align-items: center;
}
.location {
  display: flex;
  align-items: center;
  color: #6e6e6e;
  margin: 10px;
}
.location img {
  width: 30px;
}
.location span {
  min-width: 100px;
}

.edit-btn {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

.input {
  margin: 10px 0;
}
.input-type {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.input-type-res {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.input-flavors {
  display: flex;
  flex-direction: column;
}
.fav-flavors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.flavor {
  border-radius: 11px;
  padding: 4px 10px;
  margin: 5px;
  background-color: rgb(152, 185, 242, 0.8);
}