
    <div class="v1011_2">
        <div class="v1011_4">
            <div class="v1011_5"></div>
            <div class="v1011_6"></div>
            <div class="v1011_7"></div>
            <div class="v1011_8"></div>
            <div class="v1011_9"></div>
            <div class="v1011_10"></div>
            <div class="v1011_11"></div>
            <div class="v1011_12"></div>
            <div class="v1011_13"></div>
        </div>
        <div class="v1011_14">
            <div class="v1011_15">
                <div class="v1011_16"></div>
                <span class="v1011_17">reciplan</span>
            </div>
            <div class="v1011_18">
                <div class="v1011_19">
                    <div class="v1011_20"></div>
                    <div class="v1011_21"></div>
                    <div class="v1011_22"></div>
                    <div class="v1011_23"></div>
                </div>
            </div>
            <div class="v1011_24">
                <div class="v1011_25">
                    <div class="v1011_26"></div>
                    <div class="v1011_27"></div>
                    <div class="v1011_28"></div>
                </div>
            </div>
        </div>
        <span class="v1011_29">Ingredients</span
        ><span class="v1011_30">150.00 gms organic tofu</span
        ><span class="v1011_31">150.00 gms organic tofu</span
        ><span class="v1011_32">0.50 teaspoons cumin seeds</span
        ><span class="v1011_33">0.50 teaspoons cumin seeds</span
        ><span class="v1011_34">1/2 onion, finely chopped</span
        ><span class="v1011_35">1/2 onion, finely chopped</span>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <span class="v1011_63">Share this recipe:</span>
        <div class="v1011_64">
            <div class="v1011_65"><div class="v1011_66"></div></div>
        </div>
        <div class="v1011_67">
            <div class="v1011_68"><div class="v1011_69"></div></div>
        </div>
        <div class="v1011_70">
            <div class="v1011_71"><div class="v1011_72"></div></div>
        </div>
        <span class="v1011_73">Recommended Recipes</span>
        <div class="v1011_74">
            <div class="v1011_75"></div>
            <div class="v1011_76"></div>
        </div>
        <div class="v1011_77">
            <div class="v1011_78"></div>
            <div class="v1011_79"></div>
        </div>
        <div class="name"></div>
        <span class="v1011_81">Top Rated Recipes</span>
        <div class="v1011_82">
            <div class="v1011_83"></div>
            <div class="v1011_84"></div>
        </div>
        <div class="v1011_85">
            <div class="v1011_86"></div>
            <div class="v1011_87"></div>
        </div>
        <span class="v1011_88">Instructions</span
        ><span class="v1011_89">Comment Section</span>
        <div class="v1011_90">
            <div class="v1011_91">
                <div class="v1011_92"><div class="v1011_93"></div></div>
            </div>
        </div>
        <div class="v1011_94">
            <div class="v1011_95"><div class="v1011_96"></div></div>
        </div>
        <div class="v1011_97"></div>
        <div class="v1011_98"></div>
        <div class="v1011_99">
            <span class="v1011_100"
                >1. Heat the coconut oil in a pan, on medium heat.</span
            >
        </div>
        <div class="v1011_101">
            <span class="v1011_102"
                >1. Heat the coconut oil in a pan, on medium heat.</span
            >
        </div>
        <div class="v1011_103">
            <span class="v1011_104"
                >1. Heat the coconut oil in a pan, on medium heat.</span
            >
        </div>
        <div class="v1011_105">
            <span class="v1011_106"
                >1. Heat the coconut oil in a pan, on medium heat.</span
            >
        </div>
        <div class="v1011_107">
            <span class="v1011_108"
                >1. Heat the coconut oil in a pan, on medium heat.</span
            >
        </div>
        <div class="v1011_109">
            <span class="v1011_110"
                >1. Heat the coconut oil in a pan, on medium heat.</span
            >
        </div>
        <div class="v1011_111">
            <span class="v1011_112"
                >1. Heat the coconut oil in a pan, on medium heat.</span
            >
        </div>
        <div class="v1011_113">
            <span class="v1011_114"
                >1. Heat the coconut oil in a pan, on medium heat.</span
            >
        </div>
        <div class="v1011_115"></div>
        <div class="v1011_116"></div>
        <span class="v1011_117">Scrambled tofu with rocket</span>
        <div class="v1011_118"></div>
        <div class="v1011_119"></div>
        <div class="v1011_120"></div>
        <div class="v1011_121"></div>
        <div class="v1011_122"></div>
        <span class="v1011_124">Rating</span
        ><span class="v1011_125">Ingredients</span
        ><span class="v1011_126">Calories</span
        ><span class="v1011_127">Servings</span
        ><span class="v1011_128">Prep Time</span
        ><span class="v1011_129">Price</span><span class="v1011_130">4.7 </span
        ><span class="v1011_131">4.7 </span><span class="v1011_132">4.7 </span
        ><span class="v1011_133">4.7 </span><span class="v1011_134">4.7 </span
        ><span class="v1011_135">4.7 </span
        ><span class="v1011_138">Fun Stats & Data</span>
    </div>
