.logo {
    height: 25px;
}

.share-btn-container {
    display:  flex;
    justify-content: center;
    align-content: center;
}

.share-btn-container a {
    margin: 10px;
}

.share-btn-container a:hover {
    transform: scale(1.2);
    transition: 0.2s ease-in-out;
}

/*@media (max-width: 1500px) {
    .share-btn-container {
        transform: unset;
        top: unset;
        left: 0;
        bottom: 0;
        width: 100%;
        flex-direction: row;
        box-shadow: 4px 0 8px rgba(0, 0, 0, 0.6);
        padding: 15px 0;
        justify-content: center;
    }

    .share-btn-container a {
        margin: 0 36px;
    }
}
*/
