.logo {
    height: 40px;
}

.share-btn-container {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 40%;
    right: 5%;
    transform: translateY(-50%);
}

.share-btn-container a {
    margin: 10px;
}

.share-btn-container a:hover {
    transform: scale(1.2);
    transition: 0.2s ease-in-out;
}

@media (max-width: 800px) {
    .share-btn-container {
        transform: unset;
        top: unset;
        left: 0;
        bottom: 0;
        width: 100%;
        flex-direction: row;
        box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
        padding: 16px 0;
        justify-content: center;
    }

    .share-btn-container a {
        margin: 0 32px;
    }
}
