.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.popup-inner {
    position: relative;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.popup-inner .close-btn {
    right: 0px;
    align-self: flex-end;
    width:50px;
    margin: 0px 0px 10px 0px;
}

.keep {
    width: 56px;
}

.keepBut { 
    width: 100px;
    align-self: center;
    background-color: #C7CCFF;
    border: 2px solid;
}

.fullTitle {
    align-self: center;
    font-size: 20px;
}