.RecipeCard {
  margin: 10px;
  overflow: hidden;
  border: 2px solid #cccbcb;
  max-width: 235px;
}

.card-img {
  max-width: 100%;
  width: 100%;
  overflow: hidden;
}
.card-img img {
  width: 100%;
  min-height: 200px;
}
.card-info {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 10px 10px;
}
.card-tips {
  display: flex;
  align-items: center;
  margin: 5px 5px 0 5px;
}
.card-tips img {
  font-weight: 400;
  margin-right: 2px;
}
.card-title {
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 10px;
}
.card-links {
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.save-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.card-links a {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-decoration: none;
}

@media only screen and (max-width: 1100px) {
  .RecipeCard {
    margin: 10px;
    overflow: hidden;
    border: 2px solid #cccbcb;
    max-width: 200px;
  }
  .card-img img {
    width: 100%;
    min-height: 160px;
  }
  .card-info {
    font-size: 15px;
  }
}

@media only screen and (max-width: 700px) {
  .card-img img {
    width: 100%;
    min-height: 100px;
  }
}

.mealInfo {
  display:flex;
  flex-direction: row;
}