.RecipeCard {
  margin: 10px;
  overflow: hidden;
  border: 2px solid #CCCBCB;
}

.card-img {
  max-width: 100%;
  width: 100%;
  height: 50%;
  overflow: hidden;
}
.card-img img {
  width: 100%;
  min-height: 200px;
}
.card-info {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 10px 10px;
}
.card-tips {
  display: flex;
  align-items: center;
  margin: 5px 5px 0 5px;
}
.card-tips img {
  font-weight: 400;
  margin-right: 2px;
}
.card-title {
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 10px;
}
.card-links {
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.save-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.card-links a {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-decoration: none;
}